---
import "@repo/ui/globals.css";
import "../styles.css";

import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import BaseHead from "./BaseHead.astro";
import NavBar from "./NavBar.svelte";

type Props = {
  title?: string;
  description?: string;
  image?: string;
};

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <div class="fixed top-0 z-50 w-full">
      <NavBar />
    </div>

    <div
      class="flex min-h-screen flex-col justify-center gap-16 bg-slate-900 pb-8 text-white"
    >
      <slot />
    </div>
  </body>
</html>
