---
import { getCollection } from "astro:content";

import RootLayout from "../../layouts/RootLayout.astro";
import Header from "./_Header.svelte";
import { stripSlug, toDate } from "./_utils";

const posts = (await getCollection("blog")).sort(
  (a, b) =>
    toDate(+b.id.split("-")[0]).getTime() -
    toDate(+a.id.split("-")[0]).getTime(),
);
---

<RootLayout>
  <main
    class="mx-4 grid grid-cols-1 gap-4 self-center lg:grid-cols-2 2xl:grid-cols-3"
  >
    {
      posts.map((post) => (
        <a href={`/blog/${stripSlug(post.slug)}`}>
          <Header post={post} smol />
        </a>
      ))
    }
  </main>
</RootLayout>
